
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon2">Street Address:</span>
          <input type="text" class="form-control" name="location_name" id= "location_name" placeholder="Destination Name" aria-describedby="basic-addon1">
        </div>
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon2">Street Address:</span>
          <input type="text" class="form-control" name="address" id= "address" placeholder="Street Address" aria-describedby="basic-addon2">
        </div>
        <!-- <d
        iv class="input-group">
          <span class="input-group-addon" id="basic-addon2">City:</span>
          <input type="text" class="form-control" placeholder="City" aria-describedby="basic-addon2">
        </div>
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon2">State:</span>
          <input type="text" class="form-control" placeholder="State" aria-describedby="basic-addon2">
        </div>
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon2">Zip:</span>
          <input type="text" class="form-control" placeholder="Zip" aria-describedby="basic-addon2">
        </div> -->
        <div class="margin5pxleft">
        <!-- <form role="form"> -->
            <div class="radio-inline">
              <label>
                <input type="radio" name="default_transport" id="Walking" value="walking">
                Walk
              </label>
            </div>
            <div class="radio-inline">
              <label>
                <input type="radio" name="default_transport" id="Bicycling" value="bicycling">
                Bike
              </label>
            </div>
            <div class="radio-inline">
              <label>
                <input type="radio" name="default_transport" id="Driving" value="driving">
                Drive
              </label>
            </div>
            <div class="radio-inline">
              <label>
                <input type="radio" name="default_transport" id="Public_Transit" value="public_Transit">
                Public Transit
              </label>
            </div>
            <%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %> 

          <!-- </form> -->
        </div>
      </div>
      <div class="modal-footer">
      <button type="submit" value=" Send" class="btn btn-success" id="submit" />
      </div>