<ul class="user-profiles-list-basic">

        <li>

            <a href="#" class="user-avatar">
                <img src="assets/images/avatars/1.jpg" width="80" alt="Profile of <%=current_user['name']%>" />
            </a>

            <p>
                <a href=""><%=current_user['name']%></a>
                <span>Address:</span>
                <span>Home Location:</span>
                <span>Work Location:</span>
                <span>Preferred Method of Transport:</span>

            </p>

            <a class="delete" href="#"><i class="fa fa-close"></i></a>

        </li>


</ul>
<ul class="user-profiles-list-basic">
        <li>
            <p>
                <span></span>

            </p>
            <a class="delete" href="#"><i class="fa fa-close"></i></a>
        </li>
        <li>
            <p>Test</p>
            <a class="delete" href="#"><i class="fa fa-close"></i></a>
        </li>
        <li>
            <p>Test</p>
            <a class="delete" href="#"><i class="fa fa-close"></i></a>
        </li>
        <li>
            <p>Test</p>
            <a class="delete" href="#"><i class="fa fa-close"></i></a>
        </li>
        <li>
            <p>Test</p>
            <a class="delete" href="#"><i class="fa fa-close"></i></a>
        </li>
        <li>
            <p>Test</p>
            <a class="delete" href="#"><i class="fa fa-close"></i></a>
        </li>

</ul>
