<body class="homepage">
<div class="container">
  <div class="row">
    <div class="col-sm-12 text-center bootstrap-welcome margin200px">
      <h1>Welcome to the Commuter Assistance Program</h1>
      <p class="lead">Want a personalized dashboard of your favorite places?</p>
      <a href="#" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
        Sign-Up Now!
      </a>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Sign-Up!</h4>
      </div>
      <div class="modal-body">
          <div class="form-group">
            <input type="text" placeholder="Name" class="form-control">
          </div>
          <div class="form-group">
            <input type="text" placeholder="Email" class="form-control">
          </div>
          <div class="form-group">
            <input type="password" placeholder="Password" class="form-control">
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Sign-Up!</button>
      </div>
    </div>
  </div>
</div>
</body>
