
  <a href="https://github.com/rjshade/gmaps-autocomplete"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub" /></a>

<div id='input'>
      <input id='gmaps-input-address' placeholder='Start typing a place name...' type='text' />
      <br/>
      <br/>
      Latitude: <span id='gmaps-output-latitude'></span>
      <br/>
      Longitude: <span id='gmaps-output-longitude'></span>
      <br/>

      <div id='gmaps-error'></div>
    </div>

    <div id='gmaps-canvas'></div>
</div>

