/* Fonts */
@font-face {
    font-family: 'circularstd-bookbook';
    src: asset-url('circular/circularstd-book-webfont.eot');
    src: asset-url('circular/circularstd-book-webfont.eot?#iefix') format('embedded-opentype'),
         asset-url('circular/circularstd-book-webfont.woff2') format('woff2'),
         asset-url('circular/circularstd-book-webfont.woff') format('woff'),
         asset-url('circular/circularstd-book-webfont.ttf') format('truetype'),
         asset-url('circular/circularstd-book-webfont.svg#circularstd-bookbook') format('svg');
    font-weight: 400;
    font-style: normal;

}

@font-face {
    font-family: 'circularstd-mediummedium';
    src: asset-url('circular/circularstd-medium-webfont.eot');
    src: asset-url('circular/circularstd-medium-webfont.eot?#iefix') format('embedded-opentype'),
         asset-url('circular/circularstd-medium-webfont.woff2') format('woff2'),
         asset-url('circular/circularstd-medium-webfont.woff') format('woff'),
         asset-url('circular/circularstd-medium-webfont.ttf') format('truetype'),
         asset-url('circular/circularstd-medium-webfont.svg#circularstd-mediummedium') format('svg');
    font-weight: 600;
    font-style: normal;

}

@font-face {
    font-family: 'circularstd-boldbold';
    src: asset-url('circular/circularstd-bold-webfont.eot');
    src: asset-url('circular/circularstd-bold-webfont.eot?#iefix') format('embedded-opentype'),
         asset-url('circular/circularstd-bold-webfont.woff2') format('woff2'),
         asset-url('circular/circularstd-bold-webfont.woff') format('woff'),
         asset-url('circular/circularstd-bold-webfont.ttf') format('truetype'),
         asset-url('circular/circularstd-bold-webfont.svg#circularstd-boldbold') format('svg');
    font-weight: 800;
    font-style: normal;

}
* {
    font-family: 'circularstd-mediummedium', Verdana, Arial, sans-serif;
    font-weight: 600;
}
